@font-face {
    font-family: 'Yekan Bakh Fat';
    src: url('yekanbakhf/yekanbakhenfat.woff2') format('woff2'),
        url('yekanbakhf/yekanbakhenfat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan Bakh Fat';
    src: url('yekanbakhf/yekanbakhenfat.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('yekanbakhm/yekanbakhenmedium.woff2') format('woff2'),
        url('yekanbakhm/yekanbakhenmedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-family: Yekan Bakh Fat;
    font-size: 2.6rem;
    padding-top: 40px;
}

form {
    margin-right: 20px;
    margin-left: 10px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl;
    font-family: Yekan Bakh;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 1.5rem;
}

button {
    padding: 12px 20px;
    font-size: 1.3rem;
    background-color: #673ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Yekan Bakh Fat;
    width: 80%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 15px;
    padding: 18px 18px 17px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

button span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

button:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: #9f6df8;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

button:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

button:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

#result {
    margin-top: 20px;
}

.container-btn {
    display: flex;
    justify-content: center;
}

input[type="radio"] {
    margin-bottom: 20px;
}

.timer {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    background-color: #673ab7;
    color: #fff;
    width: 100%;
    font-family: Yekan Bakh;
    position: sticky;
    top: 0px;
    width: 100%;
}

#correct-answers,
#correct-answersp {
    color: green;
    font-size: 1.3rem;
    display: inline;
    margin-left: 20px;
}

#wrong-answers,
#wrong-answersp {
    color: red;
    font-size: 1.3rem;
    display: inline;
    margin-left: 20px;
}

#unanswered-answersp,
#unanswered-answers {
    font-size: 1.3rem;
    display: inline;
    font-family: Yekan Bakh;
}

.container-score {
    margin-bottom: 20px;
}

#percentageScore-answersp {
    font-size: 1.4rem;
    margin-right: 30px;
    padding-bottom: 30px;
}

#percentageScore-answers {
    direction: ltr;
}

#h2-result {
    font-size: 2rem;
    display: inline;
    margin-left: 15px;
}

.continer-resilt {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-right: 30px;
}

@media only screen and (max-width:700px) {
    .container {
        max-width: 500px;
    }

    #h2-result {
        font-size: 1.4rem;
        margin-left: 15px;
    }

    #wrong-answers,
    #wrong-answersp {
        font-size: 1rem;
    }

    #correct-answers,
    #correct-answersp {
        font-size: 1rem;
    }

    .continer-resilt {
        margin-right: 20px;
    }
}

@media only screen and (max-width:500px) {
    .container {
        max-width: 400px;
    }

    .continer-resilt {
        margin-right: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    button {
        font-size: 1rem;
    }
}

@media only screen and (max-width:400px) {
    .container {
        max-width: 350px;
    }

    .continer-resilt {
        margin-right: 15px;
    }

    button {
        font-size: .8rem;
    }
}