@font-face {
    font-family: 'Yekan Bakh Fat';
    src: url('yekanbakhf/yekanbakhenfat.woff2') format('woff2'),
        url('yekanbakhf/yekanbakhenfat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan Bakh Fat';
    src: url('yekanbakhf/yekanbakhenfat.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan Bakh';
    src: url('yekanbakhm/yekanbakhenmedium.woff2') format('woff2'),
        url('yekanbakhm/yekanbakhenmedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-family: Yekan Bakh Fat;
    font-size: 3rem;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    direction: rtl;
    font-family: Yekan Bakh;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 1.5rem;
}

button {
    padding: 12px 20px;
    font-size: 1.4rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Yekan Bakh Fat;
    width: 80%;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}

.container-btn {
    display: flex;
    justify-content: center;
}

input[type="radio"] {
    margin-bottom: 20px;

}